<table>
  <thead>
    <tr>
      <th>Tema</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @practices.each do |practice| %>
      <tr>
        <td><%= practice.subject %></td>
        <td><%= link_to 'Ver', practice_path(practice), class: 'button tiny radius no-margin' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
