<table class="datatable">
  <thead>
    <tr>
      <th>Tema</th>
      <th>Fecha Limite</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @pending_homeworks.each do |homework| %>
      <tr>
        <td><%= homework.subject %></td>
        <td><%= homework.deadline %></td>
        <td><%= link_to 'Ver', homework_path(homework), class: 'button tiny radius no-margin' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
