<div class="row">
  <div class="small-12 columns">
    <% @video_hash.each do |subject, videos| %>
      <div class="row">
        <div class="small-12">
          <h3><%= subject %></h3>
          <div class="row">
            <% videos[0..-2].each do |video| %>
              <div class="small-4 columns">
                <div class="flex-video">
                  <%= raw iframe_video(video.url) %>
                </div>
              </div>
            <% end %>
            <div class="small-4 columns end">
              <div class="flex-video">
                <%= raw iframe_video(videos.last.url) if !videos.empty? %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
