<div class="row">
  <div class="small-12 columns">
    <h2>Olvide mi contraseña</h2>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.input :email, label: 'Matricula' %>
      <%= f.button :submit, 'Enviame instrucciones para reiniciar mi contraseña' %>
    <% end %>
  </div>
</div>
