<div class="row">
  <div class="small-12 columns">
    <h1>Nuevo Video</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= render 'form' %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= link_to 'Regresar', admin_dashboard_path(anchor: 'videos'), class: 'button tiny radius' %>
  </div>
</div>
